/* Global Styles */
* {
    margin: 20;
    padding: 0;
    box-sizing: border-box;
    margin-top: 20px;
  }
  
  body {
    background-color: #4b3f68;
    font-family: Arial, sans-serif;
    height: 20;
    
    
  }
  
  /* Container */
  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 40px;
  }
  
  /* Search Bar */
  .search {
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
  }
  
  .search-bar {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f2f2f2;
  }
  
  .search-bar:focus {
    outline: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  }
  
  button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2aa3a7;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: #2556a4;
  }
  
  /* Weather Display */
  .weather {
    background-color: #2aa3a7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: all 0.2s ease-in-out;
  }
  
  .weather.loading {
    opacity: 0;
  }
  
  /* City Name */
  .city {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Temperature */
  .temp {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Flexbox for Icon and Description */
  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  /* Weather Icon */
  .icon {
    width: 80px;
    margin-right: 10px;
  }
  
  /* Description */
  .description {
    font-size: 18px;
  }
  
  /* Region, Humidity, and Wind */
  .region,
  .humidity,
  .wind {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  /* Media Queries */
  @media only screen and (max-width: 768px) {
    .container {
      max-width: 90%;
    }
    
    .search {
      flex-direction: column;
      align-items: center;
    }
    
    .search-bar {
      margin-bottom: 10px;
      width: 100%;
      max-width: 300px;
    }
    
    .icon {
      width: 60px;
    }
    
    .description {
      font-size: 16px;
    }
    
    .region,
    .humidity,
    .wind {
      font-size: 14px;
    }
    
    body {
      background-color: #fff;
    }
    
    button {
      margin-left: 0;
      margin-top: 10px;
      width: 100%;
      max-width: 300px;
    }
  }
  